.language-container {
  .dropdown {
    .language-text {
      text-transform: uppercase;
      padding: 0.2rem;
      border-radius: 0.2rem;
      transition: transform 0.25s var(--transition-spring), opacity 0.25s var(--transition-quick);
      &:hover {
        cursor: pointer;
        background-color: var(--search_hover_color);
      }
    }
    .dropdown-menu {
      .dropdown-item {
        cursor: pointer !important;
      }
    }
  }
}
