.film-info-container {
  .film-info-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .film-info-container {
    .film-info-mobile {
      display: block;
    }
    .film-info-pc {
      display: none;
    }
  }
}
